
/*********************************************************************************/
/****************************** Spiral Designs v2 ********************************/
/*********************************************************************************/

html, body {
    overflow: hidden;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

#spiral-designs {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
}


.toolbar-horizontal {

}

.toolbar-buttons {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 64px;
    height: 100%;

    padding: 0;
    margin: 0;

    background-color: white;
}

.toolbar-sliders {
    position: absolute;
    top: 0;
    right: 64px;

    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 148px;
    height: 100%;

    padding: 0;
    margin: 0;
    background-color: transparent;
}

.button {
    width: 48px;
    height: 48px;

    margin: 0.5em 0;
    padding: 0;
}

.inputs {
    display: none;
}






/* Slider Inputs */
.input-container {
    width: 64px;
    height: 64px;

    margin: 0.25em 0;
}

.slider-container {
    background-color: teal;
}

.slider {
    position: relative;

    width: 148px;
    height: 48px;
}

/* Hide, Show Elements */
.visible {
    display: block;
}
.invisible {
    display: none;
}


